---
template: main.html
title: Simple File Sharing
---

{{define "addHead"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/1.2.0/peerjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcode-generator/1.4.4/qrcode.min.js"></script>
<script>
    (function (d) {
        if (d.currentScript) {
            const s = d.createElement("script");
            s.src = "https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.2.4/dist/alpine.min.js";
            s.defer = true;
            d.head.appendChild(s);
        } else {
            var s = d.createElement("script");
            s.src = "https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.2.4/dist/alpine-ie11.min.js";
            d.head.appendChild(s);
        }

        window.onbeforeunload = function () {
            return "Are you sure you want to leave?";
        }
    })(document);
</script>
<script>
    function share() {
        return {
            peer: null,
            conn: null,
            peers: {},
            chunks: {},
            shareUrl: null,
            sharedFiles: [],
            otherFiles: {},
            lastPeerId: null,
            ready: false,
            error: null,
            isOwner: false,
            downloads: {},
            createQrCode: function (text) {
                qrcode.stringToBytes = qrcode.stringToBytesFuncs["UTF-8"];
                var qr = qrcode(4, "M");
                qr.addData(text, "Byte");
                qr.make();
                return qr.createImgTag();
            },
            qs: function () {
                var a = window.location.search.substr(1).split('&');
                if (a == "") return {};
                var b = {};
                for (var i = 0; i < a.length; ++i) {
                    var p = a[i].split('=', 2);
                    if (p.length == 1)
                        b[p[0]] = "";
                    else
                        b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
                }
                return b;
            },
            preventDefaults: function (e) {
                e.preventDefault()
                e.stopPropagation()
            },
            highlight: function (e) {
                this.$refs.dropArea.classList.add('border-red-300')
            },
            unhighlight: function (e) {
                this.$refs.dropArea.classList.remove('border-red-300')
            },
            addShared: function (files) {
                for (var i = 0; i < files.length; i++) {
                    files[i].owner = this.peer.id;
                    this.sharedFiles.push(files[i]);
                }
                this.sendShared();
            },
            sendShared: function () {
                this.sendAll("files", {
                    peerId: this.peer.id,
                    shared: this.sharedFiles.map(function (f) {
                        return {
                            name: f.name,
                            size: f.size,
                            type: f.type,
                            owner: f.owner
                        };
                    })
                });
            },
            handleDrop: function (e) {
                this.addShared(e.dataTransfer.files);
            },
            handleFiles: function (e) {
                this.addShared(e.target.files);
            },
            sendAll: function (action, data) {
                this.peerIds().map(function (peerId) {
                    if (peerId != this.peer.id) {
                        this.peers[peerId].send({
                            action: action,
                            data: data
                        });
                    }
                }.bind(this));
            },
            uid: function () {
                return Math.random().toString(36).substr(2, 9);
            },
            receive: function (r) {
                switch (r.action) {
                    case "peers":
                        r.data.map(function (peerId) {
                            if (!this.peers[peerId] && this.peer.id != peerId) {
                                this.join(peerId);
                            }
                        }.bind(this));
                        break;
                    case "files":
                        this.otherFiles[r.data.peerId] = r.data.shared;
                        break;
                    case "download":
                        this.sharedFiles.map(function (file) {
                            if (file.name == r.data.name && this.peers[r.data.peerId]) {
                                if (file.size < 500 * 1024) {
                                    this.peers[r.data.peerId].send({
                                        action: "file",
                                        data: {
                                            blob: [file],
                                            name: file.name,
                                            type: file.type,
                                            size: file.size
                                        }
                                    });
                                } else {
                                    var started = false;
                                    var transferId = r.data.tid;
                                    this.parseFile(file, function (chunk, done) {
                                        var data = started ? {
                                            blob: chunk,
                                            tid: transferId
                                        } : {
                                            blob: chunk,
                                            name: file.name,
                                            type: file.type,
                                            size: file.size,
                                            tid: transferId
                                        };
                                        if (done) {
                                            data.done = true;
                                            console.log(data);
                                        }
                                        started = true;
                                        this.peers[r.data.peerId].send({
                                            action: "chunks",
                                            data: data
                                        });
                                    }.bind(this));
                                }
                            }
                        }.bind(this));
                        break;
                    case "file":
                        this.triggerDownload(r.data);
                        break;
                    case "chunks":
                        if (!this.chunks[r.data.tid]) {
                            this.chunks[r.data.tid] = {
                                size: r.data.size,
                                progress: 0,
                                name: r.data.name,
                                type: r.data.type,
                                blob: []
                            };
                        }
                        if (r.data.blob) {
                            this.chunks[r.data.tid].blob.push(r.data.blob);
                            this.chunks[r.data.tid].progress += r.data.blob.byteLength !== undefined ? r.data
                                .blob
                                .byteLength : r.data.blob.length;
                        }

                        if (r.data.done) {
                            this.triggerDownload(this.chunks[r.data.tid]);
                            delete this.chunks[r.data.tid];
                        }
                        break;
                }
            },
            triggerDownload(data) {
                var blob = new Blob(data.blob, {
                    type: data.type ? data.type : "application/octet-stream"
                });
                var link = document.createElement('a');
                link.href = window.URL.createObjectURL(blob);
                link.download = data.name;
                link.click();
            },
            peerIds: function () {
                return Object.keys(this.peers);
            },
            init: function () {
                this.peer = new Peer();
                this.peer.on('open', function (id) {
                    if (this.peer.id === null) {
                        this.peer.id = this.lastPeerId;
                    } else {
                        this.lastPeerId = this.peer.id;
                    }
                    var toId = this.qs().id;
                    if (toId) {
                        this.join(toId);
                    } else {
                        this.isOwner = true;
                        this.ready = true;
                    }
                    this.shareUrl = location.href + "?id=" + (toId ? toId : this.peer.id);
                    this.$refs.qrcode.innerHTML = this.createQrCode(this.shareUrl);
                }.bind(this));

                this.peer.on('connection', function (conn) {
                    conn.on('open', function () {
                        this.peers[conn.peer] = conn;
                        if (this.isOwner) {
                            this.sendAll("peers", this.peerIds());
                        }
                        this.sendShared();
                    }.bind(this));
                    conn.on('data', function (data) {
                        this.receive(data);
                    }.bind(this));
                    conn.on('close', function () {
                        console.log("Closed", conn.peer);
                        delete this.peers[conn.peer];
                        delete this.otherFiles[conn.peer];
                        this.sendAll("peers", this.peerIds());
                    }.bind(this));
                }.bind(this));
                this.peer.on('disconnected', function () {
                    console.error('disconnected');
                    this.peer.id = this.lastPeerId;
                    this.peer._lastServerId = this.lastPeerId;
                    this.peer.reconnect();
                }.bind(this));
                this.peer.on("error", function (err) {
                    console.error("peer error", err);
                    this.ready = true;
                    this.error = "Connection error";
                }.bind(this));
                this.peer.on('close', function () {
                    console.log('peer closed');
                });

                var dropArea = this.$refs.dropArea;
                ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(function (eventName) {
                    dropArea.addEventListener(eventName, this.preventDefaults, false)
                    document.body.addEventListener(eventName, this.preventDefaults, false)
                }.bind(this));
                ['dragenter', 'dragover'].forEach(function (eventName) {
                    dropArea.addEventListener(eventName, this.highlight.bind(this), false)
                }.bind(this));
                ['dragleave', 'drop'].forEach(function (eventName) {
                    dropArea.addEventListener(eventName, this.unhighlight.bind(this), false)
                }.bind(this));
                dropArea.addEventListener('drop', this.handleDrop.bind(this), false);
            },
            join: function (peerId) {
                var conn = this.peer.connect(peerId, {
                    reliable: true
                });
                console.log("Connect", conn);
                conn.on('open', function () {
                    this.ready = true;
                    this.peers[peerId] = conn;
                }.bind(this));
                conn.on('data', function (data) {
                    this.receive(data);
                }.bind(this));
                conn.on('close', function () {
                    console.log("Closed");
                    delete this.peers[conn.peer];
                    delete this.otherFiles[conn.peer];
                }.bind(this));
                conn.on('error', function () {
                    console.log("connection error", conn.peer);
                }.bind(this));
            },
            download(file) {
                var tid = this.downloads[file.owner + file.name];
                if (file.owner == this.peer.id || tid && this.chunks[tid]) return;
                tid = this.uid();
                this.downloads[file.owner + file.name] = tid;
                this.peers[file.owner].send({
                    action: "download",
                    data: {
                        name: file.name,
                        peerId: this.peer.id,
                        tid: tid
                    }
                });
            },
            remove(index) {
                this.sharedFiles.splice(index, 1);
                this.sendShared();
            },
            copyUrl: function () {
                var shareText = this.$refs.share;
                shareText.select();
                shareText.setSelectionRange(0, 99999);
                document.execCommand("copy");
            },
            allFiles() {
                var keys = Object.keys(this.otherFiles);
                var allFiles = this.sharedFiles.slice();
                for (var i = 0; i < keys.length; i++) {
                    var k = keys[i];
                    if (this.otherFiles[k]) {
                        allFiles = allFiles.concat(this.otherFiles[k]);
                    }
                }
                return allFiles;
            },
            parseFile: function (file, callback) {
                var fileSize = file.size;
                var chunkSize = 64 * 1024; // bytes
                var offset = 0;
                var self = this; // we need a reference to the current object
                var chunkReaderBlock = null;

                var readEventHandler = function (evt) {
                    if (evt.target.error == null) {
                        offset += evt.target.result.byteLength !== undefined ? evt.target.result
                            .byteLength : evt.target.result.length;
                        callback(evt.target.result, offset >= fileSize);
                    } else {
                        console.log("Read error: " + evt.target.error);
                        return;
                    }
                    if (offset >= fileSize) {
                        console.log("Done reading file");
                        return;
                    }

                    // of to the next chunk
                    chunkReaderBlock(offset, chunkSize, file);
                }

                chunkReaderBlock = function (_offset, length, _file) {
                    var r = new FileReader();
                    var blob = _file.slice(_offset, length + _offset);
                    r.onload = readEventHandler;
                    r.readAsArrayBuffer(blob);
                }
                // now let's start the read with the first block
                chunkReaderBlock(offset, chunkSize, file);
            },
            downloadProgress: function (file) {
                var tid = this.downloads[file.owner + file.name];
                if (tid && this.chunks[tid]) {
                    return Math.floor(this.chunks[tid].progress / Number(this.chunks[tid].size) * 100);
                }
                return 0;
            }
        };
    }
</script>
{{end}}
{{define "content"}}
<div class="px-3 py-6">
    <div id="drop-area" class="bg-white border-dashed border-4 px-2 py-4 text-center" x-data="share()" x-init="init"
        x-ref="dropArea">
        <form>
            <p class="p-2">Drop files you want to share or click button below to browse.</p>
            <input type="file" id="file" class="hidden" multiple accept="*/*" x-on:change="handleFiles">
            <label
                class="inline-block text-lg border px-4 py-2 bg-teal-400 rounded w-full lg:w-auto hover:bg-teal-500 cursor-pointer"
                for="file">Share
                File(s)</label>
        </form>
        <div class="m-4">
            <label class="inline-block text-sm">Share URL:</label>
            <input type="text" x-ref="share" x-model="shareUrl" class="border shadow w-64">
            <button x-on:click="copyUrl"
                class="inline-block text-sm border px-2 py-1 bg-teal-400 rounded w-auto hover:bg-teal-500 cursor-pointer">
                Copy Url
            </button>
            <a href="?"
                class="inline-block text-sm border px-2 py-1 bg-teal-400 rounded w-auto hover:bg-teal-500 cursor-pointer">
                New Share
            </a>
            <div x-ref="qrcode" class="flex justify-center"></div>
        </div>
        <p class="p-4 text-gray-500" x-text="ready ? '' : 'Connecting...'"></p>
        <p class="p-4 text-red-500" x-text="error" x-show="error"></p>
        <p class="text-sm text-gray-700">Connected Clients:</p>
        <p x-text="peerIds()"></p>

        <div class="min-w-full bg-white mt-4" x-show="allFiles().length > 0">
            <template x-for="(file, index) in allFiles()" :key="index">
                <div class="border flex flex-wrap">
                    <div class="flex-1 text-left py-3 px-4" x-on:click="download(file)" x-text="file.name"></div>
                    <div class="flex-1 text-left py-3 px-4" x-text="file.type"></div>
                    <div class="flex-1 text-left py-3 px-4" x-text="file.owner"></div>
                    <div class="flex-1 text-left py-3 px-4" x-text="file.size"></div>
                    <div class="flex-1 text-left py-3 px-4">
                        <button
                            class="inline-block w-full lg:w-auto text-sm border px-2 py-1 bg-red-400 rounded w-auto hover:bg-red-500"
                            x-on:click="remove(index)" x-show="file.owner == peer.id">Stop Sharing</button>
                        <button
                            class="inline-block w-full lg:w-auto text-sm border px-2 py-1 bg-teal-400 rounded w-auto hover:bg-teal-500"
                            x-on:click="download(file)"
                            x-show="downloadProgress(file) == 0 && file.owner != peer.id">Download</button>
                    </div>
                    <div class="shadow w-full bg-grey-light mt-2 w-full" x-show="downloadProgress(file) > 0">
                        <div class="bg-teal-500 h-1" x-bind:style="'width: '+downloadProgress(file)+'%'"></div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</div>
{{end}}