<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head" .}}
</head>

<body>
    {{template "nav" .}}

    <main>
        <div class="article-layout">
            <article>
                {{if .category}}
                <ul class="breadcrumbs">
                    <li><a href="/">Home</a></li>
                    <li><a href="/{{.category}}">{{.category_label}}</a></li>
                    <li>{{.title}}</li>
                </ul>
                {{end}}

                <header class="article-header">
                    <h1>{{.title}}</h1>
                    {{if .description}}
                    <div class="article-meta">
                        <span>{{.description}}</span>
                    </div>
                    {{end}}
                </header>

                <div class="article-body">
                    {{template "content" .}}
                </div>

            </article>
        </div>
    </main>

    {{template "footer" .}}
</body>

</html>