{{define "head"}}
{{$site := data "site.json"}}
<meta charset="utf-8">
<title>{{if .title}} {{.title}} -{{end}} {{$site.title}}</title>
<meta name="description" content="{{$site.description}}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.2.0/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{.BasePath}}css/styles.css">
{{template "addHead" .}}
{{end}}

{{define "addHead"}}{{end}}